@using EShop.Domain.ViewModels
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "فراموشی کلمه عبور";
}

<section class="border-radius">
    <header><h3> @ViewData["Title"] </h3></header>
    <article>
        <div class="col-md-10 col-sm-10 col-xs-12">

            <form asp-action="ForgotPassword">

                <div class="form-group">
                    <input asp-for="UserEmail" class="form-control" placeholder=" ایمیل ">
                </div>
                <input type="submit" value="تایید">
                <div asp-validation-summary="All"></div>
            </form>

        </div>
        <div class="clearfix"></div>
    </article>
</section>