@using EShop.Domain.ViewModels
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<section class="border-radius">
    <header><h3> @ViewData["Title"] </h3></header>
    <article>
        <div class="col-md-10 col-sm-10 col-xs-12">

            <form asp-action="ResetPassword">

                <div class="form-group">
                    <input asp-for="ConfirmCode" class="form-control" placeholder=" کد تایید ">
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="کلمه عبور جدید">
                </div>
                <div class="form-group">
                    <input asp-for="RePassword" class="form-control" placeholder="تکرار کلمه عبور جدید">
                </div>
                <input type="submit" value="تایید">
                <div asp-validation-summary="All"></div>
            </form>

        </div>
        <div class="clearfix"></div>
    </article>
</section>