@using EShop.Domain.Models
@model IEnumerable<Product>
@{
    ViewData["Title"] = "فروشگاه  ساز برنامه نویسان مهدی ماژکو";
}

<section class="last-products">
    <header><h3> جدیدترین محصولات </h3> <a href=""> آرشیو </a></header>
    <article>

        @foreach (var item in Model)
        {
            <partial name="_ProductItem" model=@item />
        }
        <div class="clearfix"></div>
    </article>
</section>


